@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://graphql.org/">GraphQL</a> through <a href="https://github.com/graphql-dotnet/graphql-client">GraphQL.Client</a> in .NET Core.</p>
</div>
