@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<body style="background:gray">
    <div style="width:50%">
        <figure>
          <blockquote class="blockquote">
            <p class="mb-0">The content featured on this website is for educational purposes only. These works belong to their respective owners and we do not claim ownership of any content. 
                If the original owners of any content on this site wishes for their content to be taken down, please reach out to the team via email. </p>
          </blockquote>
          <figcaption class="blockquote-footer" style="float:right">
            <cite title="Source Title">YelpScrape Team</cite>
          </figcaption>
        </figure>
    </div>
</body>